.ProfileSettings{
  width: 281px;
  height: 649px;
  border-radius: 50px;
  background: rgba(178, 178, 178, 0.72);
  backdrop-filter: blur(50px);
  border: 2px solid red;
  position: absolute;
  top: 328px;
  left: 350px;
}
